.card{
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.teapage{
  display: flex;
 flex-direction: row;
 }
 .cards{
  margin: 20px;
 }
 .navbar-brand{
  align-items: center;
 }
.btn{
  color: white;
}